engine-strict=true
auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=true
node-linker=hoisted
sharp_binary_host=https://cdn.npmmirror.com/binaries/sharp
sharp_libvips_binary_host=https://cdn.npmmirror.com/binaries/sharp-libvips
