.layout {
  --left-width: 200px;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: var(--left-width) calc(100% - var(--left-width));
  transition: all 0.3s ease-in-out;

  &.collapsed {
    --left-width: 84px;

    .leftTop {
      justify-content: center;

      .collapseButton {
        transform: rotateY(180deg);
      }
    }
  }

  &Background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: #f9fbff;
  }

  .gradientArea {
    width: 100%;
    height: 100%;
  }

  .left {
    overflow-y: auto;
    overflow-x: hidden;
    width: var(--left-width);
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(200px, 1fr) auto;
  }

  .right {
    overflow: auto;
    display: grid;
    grid-template-rows: auto 1fr;

    .toolbar {
      min-height: 60px;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 24px;
    }

    .mainContent {
      overflow: auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      position: relative;

      .title {
        display: flex;
        align-items: center;
      }

      .subTitle {
        font-weight: 400;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.65);
        line-height: 22px;
        margin-left: 8px;
      }

      &.confinedContent {
        width: calc(100% - 24px);
        background: rgba(255, 255, 255, 0.6);
        border-radius: 12px 12px 0 0;
      }

      .mainContentTitle {
        min-height: 56px;
        font-weight: bold;
        font-size: 18px;
        color: #333333;
        line-height: 56px;
        padding: 0 20px;
      }

      .content {
        flex: 1;
        overflow: auto;
        padding: 0 20px 20px 20px;
        border-radius: 8px 8px 0 0;
      }
    }
  }
}
