// 设置图片预览的关闭按钮可点击
.ant-image-preview-operations-wrapper {
  .ant-image-preview-close {
    -webkit-app-region: no-drag;
  }
}

div.ant-typography,
.ant-typography p {
  margin-bottom: 0;
}

.ant-message-custom-content {
  text-align: left;
  .anticon.anticon-close-circle {
    align-self: flex-start;
    margin-top: 3px;
  }
}


.ant-tabs[data-full-height] {
  height: 100%;

  .ant-tabs-content {
    height: 100%;

    .ant-tabs-tabpane {
      height: 100%;
    }
  }
}